{% extends "base.html" %}

{% block content %}
        <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                    <div class="mb-3">
                      <input type="text" class="form-control" name="username" placeholder="Usuario" required>
                      </div>
                    <div class="mb-3">
                      <input type="password" class="form-control" name="password" placeholder="Senha" required>
                    </div>
                    <button type="submit" class="btn btn-secondary">Login</button>
            </form>
{% endblock %}